body {
    margin: 0;
    min-height: 160vh;
    background-color: #F3EEE8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#welcome-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #F0E7D9;
    color: #3F1511;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#principal-header {
    position: fixed;
    top: 30px;
    width: 100%;
    height: 130px;
    background-color: #3F1511;
    color: #F3EEE8;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-container {
    width: 1250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.barra-pesquisa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    max-width: 600px;
    margin: 0 40px;
    margin-right: auto;
    margin-left: 20px;
}

.barra-pesquisa-container input[type="search"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    background-color: #F0E7D9;
    color: #3F1511;
    border: none;
    font-size: 1em;
    margin-left: 5px;
}

.icone-lupa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #3F1511;
    font-size: 1.2em;
    cursor: pointer;
}

.btn-orcamento{
    padding: 10px 15px;
    margin: 0 40px;
    margin-right: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: #F3EEE8;
}

.barra-pesquisa {
    flex-grow: 1;
    text-align: center;
}

.barra-pesquisa input {
    background-color: #F0E7D9;
    color: #3F1511;
    border: none;
    padding: 10px;
    width: 300px;
}

.btn-login, .btn-register, .btn-perfil, .btn-sair {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #F3EEE8;
    color: #3F1511;
}

.user-actions {
    display: flex;
    align-items: center;
}